<section class="hero is-fullheight is-light has-text-centered">
  <app-header-modulos></app-header-modulos>

  <div class="hero-body">
    <div class="container has-text-centered">
      	
      <div class="columns">





        <div class="column is-8">
          <section class="hero is-black has-text-centered">
            <app-origen></app-origen>
          </section>
        </div>



        <div class="column is-4">

          <nav class="panel">
            <p class="panel-heading is-size-5">módulo</p>
          <div class="box">
           <h1 class="title is-size-5">
              luna 月: lectura y escritura
            </h1>
          </div>
          </nav>


          <nav class="panel">
            <p class="panel-heading is-size-5">progreso</p>
          <div class="box">
           <h1 class="title is-size-4">
              1/10 etcétera
            </h1>
          </div>
          </nav>


        </div>



    </div>
  </div>
</div>


</section>
