<ng-container [ngSwitch]="moduloActivado">

	<app-teoria-modulo *ngSwitchCase="'teoria'"></app-teoria-modulo>

    <app-luna-rw (sigueLuna)="avanzarModulo($event)" (respuestaLuna)="integrarRespuesta($event)" [dataLuna]="moduloData" *ngSwitchCase="'luna'">></app-luna-rw>

	<app-sol-aw (sigueSol)="avanzarModulo($event)" (respuestaSol)="integrarRespuesta($event)" [dataSol]="moduloData" *ngSwitchCase="'sol'"></app-sol-aw>

	<app-fuego-aw (sigueFuego)="avanzarModulo($event)" (respuestaFuego)="integrarRespuesta($event)" [dataFuego]="moduloData" *ngSwitchCase="'fuego'"></app-fuego-aw>

    <app-agua-v (sigueAgua)="avanzarModulo($event)" (respuestaAgua)="integrarRespuesta($event)" [dataAgua]="moduloData" *ngSwitchCase="'agua'"></app-agua-v>

	<app-arbol-vr (sigueArbol)="avanzarModulo($event)" (respuestaArbol)="integrarRespuesta($event)" [dataArbol]="moduloData" *ngSwitchCase="'arbol'"></app-arbol-vr>

	<app-oro-ar (sigueOro)="avanzarModulo($event)" (respuestaOro)="integrarRespuesta($event)" [dataOro]="moduloData" *ngSwitchCase="'oro'"></app-oro-ar>

	<app-tierra-v (sigueTierra)="avanzarModulo($event)" (respuestaTierra)="integrarRespuesta($event)" [dataTierra]="moduloData" *ngSwitchCase="'tierra'"></app-tierra-v>

  	<ng-container *ngSwitchDefault></ng-container>

</ng-container> 












