<ng-container [ngSwitch]="moduloActivado">

	<app-teoria-modulo *ngSwitchCase="'teoria'"></app-teoria-modulo>

	<app-sol-aw *ngSwitchCase="'sol'"></app-sol-aw>

    <app-luna-rw *ngSwitchCase="'luna'">></app-luna-rw>

	<app-fuego-aw *ngSwitchCase="'fuego'"></app-fuego-aw>

    <app-agua-v *ngSwitchCase="'agua'"></app-agua-v>

	<app-arbol-vr *ngSwitchCase="'arbol'"></app-arbol-vr>

	<app-oro-ar *ngSwitchCase="'oro'"></app-oro-ar>

	<app-tierra-v *ngSwitchCase="'tierra'"></app-tierra-v>

  	<ng-container *ngSwitchDefault></ng-container>

</ng-container> 












