<section class="hero has-background-warning" style="height: 315px;">
	<div class="hero-body has-stuff-centered">
	<div class="container">


	<h1 class="title is-5 has-text-dark">escribe el kana escuchado en este audio:</h1>

	<section class="section">
		<button (click)="activarAudio()" class="button has-background-warning-light is-large is-rounded"><app-imagen-figure [medida]="'64'" [imgUrl]="'inicio-general/audio.png'"></app-imagen-figure>
		</button>
	</section><br>

	<section class="section">
		<div class="columns">
			<div class="column is-one-fifth is-offset-two-fifths">
				<div class="field">
				  <div class="control">
				    <input [attr.disabled]="respuestaTraducida? true: null" maxlength="3" [(ngModel)]="respuesta" id="respuesta-sol" class="input is-dark" type="text" placeholder="respuesta">
				  </div>
				</div>
			</div>
		</div>
	</section><br>
	

  <app-botones-modulos-siguiente-ayuda [nombreModulo]="'sol'" [colorBoton]="'warning'" [textoExplicacion]="dataSol[1] +' = '+dataSol[0]" [botonHabilitado]="!respuesta" [acertado]="acertado" (respuestaModulo)="solRespuesta()" (siguienteModulo)="avanzarModulo()"></app-botones-modulos-siguiente-ayuda>


	</div>
	</div>
</section>


