<section class="hero is-fullheight is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">información</h1>
      <p class="subtitle">en relación a los temarios centrales en la aplicación: </p> 
      <div class="columns is-centered">
      <div class="column is-4">


        <!-- card app -->
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">

            <app-imagen-figure [medida]="'96'" [imgUrl]="'catlogo.png'"></app-imagen-figure>   

              </div>
              <div class="media-content">
                <br>
                <p class="title is-2">bake ai</p>
                <p class="subtitle is-6 is-black">aplicación</p>
              </div>
            </div>
            <div class="content">
              <p>aplicación destinada a enseñarte los <strong>tres</strong> sistemas de escritura distribuidos en el idioma <strong>japonés:</strong></p>
              </div>
          <div class="columns is-mobile is-centered">

          <div class="column is-narrow" *ngFor="let item of ['hiragana','katakana','kanji']">
            <app-imagen-figure [medida]="'30'" [imgUrl]="'second-slide/'+item+'.png'"></app-imagen-figure>
            <p class="title is-7">{{item}}</p>
          </div>

          </div>
            
          </div>
        </div>
        <!-- fin card app  -->  
        <br>
    <!-- fin card hiragana -->            
     </div>

    <div class="column is-5">
        <!-- card app -->
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">¿cómo?</p>
                <p class="subtitle is-6">a través de un sistema inteligente encargado en descubrir e interpretar tu estilo de aprendizaje, el cual será una combinación de retención:</p> 
                <div class="columns has-stuff-centered is-1">



                <app-second-slide-varw [imgUrl]="'eye-outline.png'" [subTexto]="'visual'"></app-second-slide-varw>

                <app-second-slide-varw [imgUrl]="'musical-notes-outline.png'" [subTexto]="'auditiva'"></app-second-slide-varw>

                <app-second-slide-varw [imgUrl]="'reader-outline.png'" [subTexto]="'por la lectura más escritura'"></app-second-slide-varw>


                </div>
              <p class="subtitle is-6">la evaluación de tu estilo será mediante siete módulos de enseñanza que conocerás más adelante.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- fin card app  --> 
    </div>

      <div class="column is-2">

      <br><br><br>
        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
           <app-boton-anterior-primer-inicio [colorBoton]="'is-white'" [siguienteSection]="'1'"></app-boton-anterior-primer-inicio>
          <br><br><br>
          <app-boton-siguiente-primer-inicio [colorBoton]="'is-success'" [siguienteSection]="'3'"></app-boton-siguiente-primer-inicio>
          </div>
        </div>
    </div>



    </div>

    </div>

    </div>
		</section>
