<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">

    	<div class="columns">
    		<div class="column"><img src="{{imagenes}}/catlogo.png"></div>

    		<div class="column has-text-left">
          <br>
         <span class="title is-5"> 日本語って言ったよ。。。 </span>
			<div class="notification is-success is-light">
			    <p class="subtitle is-6 has-text-justified">
			    	<span class="has-text-weight-bold is-1 is-dark">bake__ai</span> es una aplicación de escritorio dedicada a la enseñanza del <span class="has-text-weight-bold">idioma japonés</span> mediante módulos con <span class="has-text-weight-bold">inteligencia artificial</span> integrada.
			    </p>
			</div>

    		</div>

    	</div>


    </div>
  </div>
</section>









<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns">
        <div class="column">
           <span class="title is-4"> あれ？ </span>
            <div class="notification is-warning is-light">
              <p class="subtitle is-6 has-text-justified">
                la aplicación ha sido equipada con mecaniscos orientados a percibir tu estilo de aprendizaje, <span class="has-text-weight-bold">el cual será una combinación de recepción visual, auditiva y de escritura,</span> para luego formar una metodología de enseñanza a base de este.
              </p>  
            </div>
        </div>
        <div class="column">
             <span class="title is-4"> 本当？？？？？？？ </span>
            <div class="notification is-warning is-light">
              <p class="subtitle is-6 has-text-justified">
                <span class="is-dark">¿aprendiste más luego de oir el audio? <span class="has-text-weight-bold">¡la aplicación lo sabrá!</span> ¿escribir te brinda mayor retención? <span class="has-text-weight-bold">¡la aplicación lo tendrá en cuenta!</span></span>
              </p>  
            </div>  
        </div>
      </div>












    </div>
  </div>
</section>

<!-- 
<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary bold title
      </h1>
      <h2 class="subtitle">
        Primary bold subtitle
      </h2>
    </div>
  </div>
</section>

<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary bold title
      </h1>
      <h2 class="subtitle">
        Primary bold subtitle
      </h2>
    </div>
  </div>
</section>


 -->
