<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">

    	<div class="columns">
    		<div class="column"><img src="{{imagenes}}/catlogo.png"></div>

    		<div class="column has-text-left">
          <br>
         <span class="title is-5"> 日本語って言ったよ。。。 </span>
			<div class="notification is-success is-light">
			    <p class="subtitle is-6 has-text-justified">
			    	<span class="has-text-weight-bold is-1 is-dark">bake__ai</span> es una aplicación de escritorio dedicada a la enseñanza del <span class="has-text-weight-bold">idioma japonés</span> mediante módulos con <span class="has-text-weight-bold">inteligencia artificial</span> integrada.
			    </p>
			</div>

    		</div>

    	</div>


    </div>
  </div>
</section>









<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns">
        <div class="column">
           <span class="title is-4"> あれ？ </span>
            <div class="notification is-warning is-light">
              <p class="subtitle is-6 has-text-justified">
                la aplicación ha sido equipada con mecaniscos orientados a percibir tu estilo de aprendizaje, <span class="has-text-weight-bold">el cual será una combinación de recepción visual, auditiva y de escritura,</span> para luego formar una metodología de enseñanza a base de este.
              </p>  
            </div>
        </div>
        <div class="column">
             <span class="title is-4"> 本当？？？？？？？ </span>
            <div class="notification is-warning is-light">
              <p class="subtitle is-6 has-text-justified">
                <span class="is-dark">¿aprendiste más luego de oir el audio? <span class="has-text-weight-bold">¡la aplicación lo sabrá!</span> ¿escribir te brinda mayor retención? <span class="has-text-weight-bold">¡la aplicación lo tendrá en cuenta!</span></span>
              </p>  
            </div>  
        </div>
      </div>






    </div>
  </div>
</section>


<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <span class="title is-4">そうですか。。。</span>
      <div class="notification is-warning is-light">
        <p class="subtitle is-6 has-text-justified has-text-dark">
          La aplicación fue acogida con el nombre: <span class="has-text-weight-bold">bake ai.</span> El primer fragmento “bake” surge del prefijo <span class="has-text-weight-bold">化け</span> “cambio” que es comúnmente agregado a otras palabras japonesas como cosa: <span class="has-text-weight-bold">化け物</span> (bakemono, monstruo, lit. cosa cambiante) y gato: <span class="has-text-weight-bold">化け猫</span>  (bakeneko, gato cambiante). La última mención, gato cambiante, surge de una leyenda sobre gatos que después de cumplir una cierta cantidad de años comenzaban a profesar rasgos humanos hasta el punto donde podían imitar el cuerpo humano por completo. Por esta leyenda, la aplicación bake ai tiene tanta inclinación a imágenes felinas. El “ai” al final del nombre sale del inglés de <span class="has-text-weight-bold">“inteligencia artificial”</span>,  implicando en conclusión una <span class="has-text-weight-bold">“inteligencia artificial cambiante”.</span> 
        </p>  
      </div>  
    </div>
  </div>
</section>






<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <span class="title is-4">ナイス！</span>
      <div class="notification is-warning is-light">
        <p class="subtitle is-6 has-text-justified">
          <span class="has-text-weight-bold">RECUERDA:</span> no necesitas teclado al japonés pero <span class="has-text-weight-bold">SÍ</span> bocinas.
        </p>  
      </div> 
    </div>
  </div>
</section>


