<div class="columns is-multiline">
	<div class="column is-5"><img src="{{imagenes}}/catlogo.png"></div>
	<div class="column is-7">
		<br><br>

<div class="notification is-success is-light">
    <p class="subtitle is-6 has-text-justified">
    	<span class="has-text-weight-bold is-1 is-dark">bake__ai</span> es una aplicación de escritorio dedicada a la enseñanza del <span class="has-text-weight-bold">idioma japonés</span> mediante módulos con <span class="has-text-weight-bold">inteligencia artificial</span> integrada.
    </p>
</div>




	</div>

	<div class="column is-6">
	<div class="notification is-info is-light">
    <p class="subtitle is-6 has-text-justified">
    	la aplicación ha sido equipada con mecaniscos orientados a percibir tu estilo de aprendizaje, <span class="has-text-weight-bold">el cual será una combinación de recepción visual, auditiva y de escritura,</span> para luego formar una metodología de enseñanza a base de este.
    </p>	
</div>
	</div>

	<div class="column is-6">
	<div class="notification is-link is-light">
    <p class="subtitle is-6 has-text-justified">
    	<span class="is-dark">¿aprendiste más luego de oir el audio? <span class="has-text-weight-bold">¡la aplicación lo sabrá!</span> ¿escribir te brinda mayor retención? <span class="has-text-weight-bold">¡la aplicación lo tendrá en cuenta!</span></span>
    </p>	
</div>		  			

	</div>


	<div class="column is-5">
		
    		

	</div>


	<div class="column is-7">


	</div>


</div>