<!-- mejorar el cargado de la fotos COMPONETIZAR -->

<section class="hero is-fullheight has-text-black has-background-light">   
  <app-header-principal [mensajePersonalizado]="'kanji... ¿cómo entraste a mi casa?'" [esInicio]="false"></app-header-principal>

<div class="hero-body has-stuff-centered">
  <section class="section">


      <app-temas-titulos [tituloTema]="'kanji'" [tituloNativoTema]="'漢字'"></app-temas-titulos>
      


     <div class="box has-text-centered">
       <app-temas-kanji-tabla></app-temas-kanji-tabla>
    </div>



  </section>
</div>

</section>
