<section class="hero has-background-light" style="height: 315px;">
	<div class="hero-header">
	<div class="container has-stuff-centered is-flex">




	<div class="columns">
		<div class="column is-4 has-stuff-centered is-flex">

			<section class="section">

	      	<span class="tag is-small is-dark">silabarios estudiados:</span>

			<div class="box has-text-justified has-background-link">
			    <p class="subtitle is-7">
					vocales, s, k, 
			    </p>
			</div>

	      	<span class="tag is-small is-dark">silabarios por estudiar:</span>

			<div class="box has-text-justified has-background-danger">
			    <p class="subtitle is-7">
					vocales, especiales, n, h, m 
			    </p>
			</div>

 			</section>

		</div>	

		<div class="column is-offset-1 is-2">
			<br><br>
			<section class="section has-stuff-centered is-flex">
				<app-imagen-figure [medida]="'128'" [imgUrl]="'modulos/correcto3.gif'"></app-imagen-figure>
			</section>
			<span class="tag is-medium is-warning">¡bien, {{nombreUsuario}}!</span>
		</div>		

		<div class="column is-offset-1 is-4">
			
        <br>
        	<div class="block">

				<div class="field is-grouped is-grouped-multiline">

				  <div class="control">
				    <div class="tags has-addons">
				      <span class="tag is-small is-dark">acertado:</span>
				      <span class="tag is-small is-info">50 / 100%</span>
				    </div>
				  </div>


				  <div class="control">
				      <span class="tag is-small is-dark">tu estilo de aprendizaje:</span>
				  </div>

				  <div class="control">
				    <div class="tags has-addons">
				      <span class="tag is-small is-dark">mayor retención:</span>
				      <span class="tag is-small is-success">visual</span>
				    </div>
				  </div>

				  <div class="control">
				    <div class="tags has-addons">
				      <span class="tag is-small is-dark">retención media:</span>
				      <span class="tag is-small is-warning">auditiva</span>
				    </div>
				  </div>

				  <div class="control">
				    <div class="tags has-addons">
				      <span class="tag is-small is-dark">menor retención:</span>
				      <span class="tag is-small is-primary">por escritura</span>
				    </div>
				  </div>
				</div>




        	</div>


        	<br>
        	<div class="block">
        	<a (click)="location.back()" class="button is-success is-fullwidth">¡listo!</a>
        	</div>

        

		</div>	




	</div>



     



        













	

           

	</div>
	</div>
</section>




