


<section class="hero has-background-light" style="height: 315px;">
	<div class="hero-header" *ngIf="!loading">
	<div class="container has-stuff-centered is-flex">



	<div class="columns">
		<div class="column is-3">

			<section class="section">

	      	<span class="tag is-small is-dark">silabarios estudiados:</span>

			<div class="box has-text-justified has-background-link">
			    <p class="subtitle is-7">
					<span *ngFor="let item of kanasDesbloqueadas; let i=index">
					    <span>{{item}}</span><span class="list-format" *ngIf="i!=kanasDesbloqueadas.length-1">,</span>
					</span>
			    </p>
			</div>

	      	<span class="tag is-small is-dark">silabarios por estudiar:</span>

			<div class="box has-text-justified has-background-danger">
			    <p class="subtitle is-7">
					<span *ngFor="let item of kanasBloqueados; let i=index">
					    <span> {{item}}</span><span class="list-format" *ngIf="i!=kanasBloqueados.length-1">, </span>
					</span>
			    </p>
			</div>

 			</section>

		</div>	

		<div class="column is-1">
			<br>
			<section class="section">
			<app-imagen-figure [medida]="'128'" [imgUrl]="'modulos/correcto3.gif'"></app-imagen-figure>
			<span class="tag is-medium is-warning">¡bien, {{nombreUsuario}}!</span>
			</section>
			
			
		</div>		

		<div class="column is-offset-2 is-5">
			
        	<div class="block has-text-centered">

				<div class="field has-text-centered">

				  <div class="control full-width">
				    <div class="tags has-addons">
				      <span class="tag is-medium is-dark">acertado:</span>
				      <span class="tag is-medium is-primary">{{porcentajeDeAciertos().toFixed(2)}}% de 100%</span>
				    </div>
				  </div>


				</div>

				<app-pie-chart-estilos></app-pie-chart-estilos>



        	</div>


        
        	<div class="block">
        	<a (click)="location.back()" class="button is-success is-fullwidth">¡listo! ¡guardar resultados!</a>
        	</div>

        

		</div>	




	</div>



     




	</div>
	</div>
	<div class="hero-body" *ngIf="loading">
	<div class="container">
		<section class="section">
			<ngx-spinner bdColor = "rgba(0,0,0,0)" size = "medium" color = "#71e096" type = "square-loader" [fullScreen] = "false"></ngx-spinner>
		</section>
	</div>
	</div>
</section>




