<div class="modal-background"></div>
<div class="modal-card">

  <header [ngClass]="'modal-card-head has-text-centered has-background-'+colorCard">
    <p class="modal-card-title">{{tituloCard}}</p>
  </header>

  <section class="modal-card-body has-text-centered">


		<div [ngSwitch]="colorCard">


		  <div *ngSwitchCase="'success'">


		  	<div class="columns is-multiline">
		  		<div class="column is-5"><img src="{{imagenes}}/catlogo.png"></div>
		  		<div class="column is-7">
		  			<br><br>

				<div class="notification is-success is-light">
				    <p class="subtitle is-6 has-text-justified">
				    	<span class="has-text-weight-bold is-1 is-dark">bake__ai</span> es una aplicación de escritorio dedicada a la enseñanza del <span class="has-text-weight-bold">idioma japonés</span> mediante módulos con <span class="has-text-weight-bold">inteligencia artificial</span> integrada.
				    </p>
				</div>




		  		</div>

		  		<div class="column is-6">
		  		<div class="notification is-info is-light">
				    <p class="subtitle is-6 has-text-justified">
				    	la aplicación ha sido equipada con mecaniscos orientados a percibir tu estilo de aprendizaje, <span class="has-text-weight-bold">el cual será una combinación de recepción visual, auditiva y de escritura,</span> para luego formar una metodología de enseñanza a base de este.
				    </p>	
				</div>
		  		</div>

		  		<div class="column is-6">
		  		<div class="notification is-link is-light">
				    <p class="subtitle is-6 has-text-justified">
				    	<span class="is-dark">¿aprendiste más luego de oir el audio? <span class="has-text-weight-bold">¡la aplicación lo sabrá!</span> ¿escribir te brinda mayor retención? <span class="has-text-weight-bold">¡la aplicación lo tendrá en cuenta!</span></span>
				    </p>	
				</div>		  			

		  		</div>


		  		<div class="column is-5">
		  			
				    		

		  		</div>


		  		<div class="column is-7">


		  		</div>


		  	</div>














		  </div>





		  <div *ngSwitchCase="'primary'">
		    <p>promedios etcétera</p>
		  </div>







		  <div *ngSwitchCase="'warning'">
		    



		  	<div class="columns is-multiline has-stuff-centered is-flex">
		  		
		  		<div class="column is-12 ">
		  			

		  			<div class="columns">
		  				<div class="column">
		  					
		  			<div class="field is-horizontal">
					  <div class="field-label is-normal has-text-dark">
					    <label class="label">nombre:</label>
					  </div>
					  <div class="field-body">
					    <div class="field">

			              <div class="control has-icons-left has-icons-right">
			              <div class="form-group">
					        <input class="input" maxlength="10" [(ngModel)]="nombreUsuario" type="text" placeholder="¡no puede estar vacío!" value="{{nombreUsuario}}">			                
			              </div>
			              <span class="icon is-medium is-left"> 
			                <app-imagen-figure [medida]="'24'" [imgUrl]="'third-slide/avatar-gris.png'"></app-imagen-figure> 
			              </span>
			              </div> 


					    </div>
					  </div>
					</div>


		  				</div>
		  				<div class="column">
		  					
					<button [ngClass]="'button is-fullwidth is-success'" [disabled]="!nombreUsuario" (click)="guardar()">guardar nombre</button>

		  				</div>
		  			</div>







		  		</div>


		  		<div class="column is-12 has-text-centered">
		  			<label class="label">gusto:</label>
		  		</div>

		  		<div class="column is-12 has-text-centered">
					<app-gustos-picker [accesoGusto]="true"></app-gustos-picker>
					<span class="tag">(!) tu selección se guarda automáticamente.</span>
		  		</div>




		  	</div>


		  </div>






		  <div *ngSwitchDefault></div>
		</div> 






  </section>

  <footer class="modal-card-foot has-text-centered">
    <button [ngClass]="'button is-fullwidth is-'+colorCard" (click)="desactivar()">volver</button>
  </footer>
  
</div>


