<section class="section has-stuff-centered is-flex">
	<div class="field is-grouped">
	  <p [class]="'control step3-modulo-'+moduloTitulo">
	    <button [class]="'modal-button button is-success'" data-target="moduloResponde" [disabled]="botonHabilitado" (click)="moduloRespuesta()">✔ listo</button>
	  </p>
	  <p class="control step6-modulos">
	    <button (click)="shepherdPasosService.activarAyuda(moduloTitulo)" class="button is-dark">ayuda</button>
	  </p>
	</div>
</section>

<!-- listo -->

<div class="modal modal-fx-fadeInScale"  id="moduloResponde">
<div class="modal-background"></div>
<div class="modal-content is-tiny">

<section class="section has-stuff-centered is-flex">
  <app-imagen-figure *ngIf="acertado" [medida]="'128'" [imgUrl]="'modulos/correcto.gif'"></app-imagen-figure>
  <app-imagen-figure *ngIf="!acertado" [medida]="'128'" [imgUrl]="'modulos/incorrecto.gif'"></app-imagen-figure>
</section>

<div class="box">
  	<h1 class="title is-3 has-text-weight-bold">
  		<span *ngIf="acertado" class="has-text-success">{{elegidoCorrecto}}</span>
  		<span *ngIf="!acertado" class="has-text-primary">{{elegidoIncorrecto}}</span>
	</h1>
  	<h1 class="title is-1 has-text-weight-bold">{{textoExplicacion}}</h1>
    <button (click)="avanzarModulo()" class="button is-{{colorBoton}} has-background-{{colorBoton}}">siguiente →</button>
</div>

</div>

<button onclick="modalFunction(2, '#moduloResponde')" class="modal-close is-large" aria-label="close"></button>
</div>



