<div class="columns is-gapless">
  <!-- mejorar? cómo meter una función en un componente yahoo respuestas -->
	<div class="column">
	  <a class="modal-button" data-target="modalInstrucciones" (click)="abrirModales('#modalInstrucciones')">
	    <app-botones-iconos-temas [tituloBoton]="'instrucciones'" [imagenBoton]="'/questionmark.png'" [colorBoton]="'black'"></app-botones-iconos-temas>
	  </a>
	</div>

	<div class="column">
	  <a (click)="abrirModalExaminacion()">
	    <app-botones-iconos-temas [tituloBoton]="'¡examinación!'" [imagenBoton]="'/examinación.png'" [colorBoton]="'link'"></app-botones-iconos-temas>
	  </a>
	</div>

</div>


<!-- examinación -->


<div class="modal modal-fx-fadeInScale"  id="modalInstExam">
<div class="modal-background"></div>
<div class="modal-content">

<div class="box has-text-centered">

<ng-container  *ngIf="sizeOfkanasAPruebaObj > 0">

  <h1 class="title">contenido nuevo a estudiar:</h1>

  <div class="box has-background-light">
  <div class="field is-grouped is-grouped-multiline">
   <ng-container *ngFor="let kanas of kanasAPruebaObj | keyvalue; let i = index">
     <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">{{kanas.key}}</span>
        <span [className]="'tag '+tagColorRandom[i]">{{kanas.value}}</span>
      </div>
    </div> 
    </ng-container>
  </div>
  </div>

</ng-container>


<ng-container  *ngIf="sizeOfkanasIniciadosObj > 0">

  <h1 class="title">contenido estudiado previamente:</h1>

  <div class="box has-background-light">
  <div class="field is-grouped is-grouped-multiline">
   <ng-container *ngFor="let kanas of kanasIniciadosObj | keyvalue; let i = index">
     <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">{{kanas.key}}</span>
        <span [className]="'tag '+tagColorRandomIniciados[i]">{{kanas.value}}</span>
      </div>
    </div> 
    </ng-container>
  </div>
  </div>

</ng-container>



<h2 class="subtitle is-6 has-text-dark">¡recuerda: necesitas 75% de aciertos sobre fallos para desbloquear más!</h2>

<div class="columns is-mobile is-centered">

  <div class="column is-narrow">
   <a class="button is-dark" (click)="cerrar('#modalInstExam')">volver</a>
  </div>

  <div class="column is-narrow">
    <app-boton-con-spinner [routerLink]="'/examinacion'" (botonPresionado)="examinacionSeguir()" [textoInterior]="'seguir'" [nombreClase]="'button is-success'"></app-boton-con-spinner>
  </div>

</div>


</div>
</div>
</div>








<!-- instrucciones -->

<div class="modal modal-fx-fadeInScale"  id="modalInstrucciones" >
<div class="modal-background"></div>
<div class="modal-content">

<div class="tabs is-toggle is-fullwidth">
  <ul>
    <ng-container *ngFor="let item of navTabsInstrucciones; let i = index">
      <li [ngClass]="(i==navTabsInstrucciones.length-1)?'has-tooltip-black has-tooltip-arrow has-tooltip-left':'has-tooltip-black has-tooltip-arrow has-tooltip-right' " [attr.data-tooltip]="item">
        <a (click)="openTabInstruccion($event, item)"  [ngClass]=" (i==0)?'tab has-background-danger-light':'tab has-background-white' " >
          <span><app-imagen-figure [medida]="'64'" [imgUrl]="'modulos/'+item+'.png'"></app-imagen-figure></span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>

<section class="hero is-medium is-fullwidth is-white FixedHeightContainer">
  <div class="hero-footer has-text-centered Content">
  <div class="container section">
    <app-instrucciones-switch [tabActivada]="tabActivada"></app-instrucciones-switch>
  </div>
  </div>
</section><br>

</div>

<button (click)="cerrar('#modalInstrucciones')" class="modal-close is-large" aria-label="close"></button>
</div>
