<div class="hero-head">
    <div class="container has-text-centered">
    	<br><!--img src="./../../assets/media/logo-150-small-internal.png" alt="bakeai"-->

      bake ai

        <div class="columns">
          <div class="column is-3">
        <div class="divider is-info"></div>
          </div>
          <div class="column is-3">
        <div class="divider is-success"></div>
      </div>
      <div class="column is-3">
        <div class="divider is-warning"></div>
      </div>
      <div class="column is-3">
        <div class="divider is-danger"></div>
      </div>
    </div>

  </div>
</div> 