<section class="hero has-background-primary">
	<div class="hero-body has-stuff-centered">
	<div class="container">




	<section class="section">
	  <h1 class="title is-3">¿cuál silaba falta?</h1>
	
	  <br>

	  <div class="columns">
	  	
	  	<div class="column is-9">
	  		
		<div class="buttons has-addons is-centered">
			<ng-container *ngFor="let item of dataFuego[1]">
		    <button (click)="activarAudio(item)" class="button is-medium has-background-light">
              <app-imagen-figure [medida]="'64'" [imgUrl]="'inicio-general/audio.png'"></app-imagen-figure>
		    </button>
			</ng-container>
		</div>

	  	</div>

	  	<div class="column is-3">
			<div class="field">
			  <div class="control">
			    <input [attr.disabled]="respuestaTraducida? true: null" maxlength="3" [(ngModel)]="respuesta" id="respuesta-fuego" class="input is-dark is-medium" type="text" placeholder="respuesta">
			  </div>
			</div>
	  	</div>

	 </div><br>

	
	<section class="section has-stuff-centered is-flex">
		<div class="field is-grouped">
		  <p class="control">
		    <button [disabled]="!respuesta" (click)="fuegoRespuesta()" class="button is-success">✔ listo</button>
		  </p>
		  <p class="control">
		    <button class="button is-dark">ayuda</button>
		  </p>
		</div>
	</section>
       


		
		
	</section>








	</div>
	</div>
</section>



<div class="modal modal-fx-fadeInScale"  id="fuegoResponde">
<div class="modal-background"></div>
<div class="modal-content is-tiny">


<section class="section has-stuff-centered is-flex">
	<app-imagen-figure *ngIf="acertado" [medida]="'128'" [imgUrl]="'modulos/correcto.gif'"></app-imagen-figure>
	<app-imagen-figure *ngIf="!acertado" [medida]="'128'" [imgUrl]="'modulos/incorrecto.gif'"></app-imagen-figure>
</section>

<div class="box">
	<h1 *ngIf="acertado" class="title is-3 has-text-weight-bold has-text-success">¡CORRECTO!</h1>
	<h1 *ngIf="!acertado" class="title is-1 has-text-weight-bold has-text-primary">INCORRECTO</h1>

	<h1 class="title is-1 has-text-weight-bold">{{dataFuego[0]}} = {{respuestaCorrecta}}</h1>

    <button (click)="avanzarModulo()" class="button is-warning has-background-warning">siguiente →</button>

</div>

</div>
<button onclick="modalFunction(2, '#fuegoResponde')" class="modal-close is-large" aria-label="close"></button>
</div>



