<section class="hero has-background-primary" style="height: 315px;">
	<div class="hero-body has-stuff-centered">
	<div class="container">




	<section class="section">
	  <h1 class="title is-3">¿cuál silaba falta?</h1>
	
	  <br>

	  <div class="columns">
	  	
	  	<div class="column is-7 is-offset-1">
	  		
		<div class="buttons has-addons is-centered step1-modulo-fuego">
			<ng-container *ngFor="let item of dataFuego[1]">
		    <button (click)="activarAudio(item)" class="button is-medium has-background-light" style="width:80px">
              <app-imagen-figure [medida]="'64'" [imgUrl]="'inicio-general/audio.png'"></app-imagen-figure>
		    </button>
			</ng-container>
		</div>

	  	</div>

	  	<div class="column is-3 step2-modulo-fuego">
			<div class="field">
			  <div class="control">
			    <input [attr.disabled]="respuestaTraducida? true: null" maxlength="3" [(ngModel)]="respuesta" id="respuesta-fuego" class="input is-dark is-medium" type="text" placeholder="respuesta">
			  </div>
			</div>
	  	</div>

	 </div><br>


  	<app-botones-modulos-siguiente-ayuda [mostrarInformacion]="dioRespuesta" [moduloTitulo]="'fuego'" [colorBoton]="'primary'" [textoExplicacion]="dataFuego[0] +' = '+dataFuego[2]" [botonHabilitado]="!respuesta" [acertado]="acertado" (respuestaModulo)="fuegoRespuesta()" (siguienteModulo)="avanzarModulo()"></app-botones-modulos-siguiente-ayuda>
	
		
	</section>

	</div>
	</div>
</section>






