<section class="hero is-fullheight has-text-black has-background-light">   
<app-header-principal [esInicio]="true"></app-header-principal>

<div class="hero-body">
	
   
  <div class="column is-8 is-offset-2 has-text-centered">
  
    <a [routerLink]="['/tema-teoria']" class="step4-iniciogeneral">
      <div class="box">    

      <article class="media">

        <div class="media-left">
          <app-imagen-figure [medida]="'64'" [imgUrl]="'inicio-general/teoría2.png'"></app-imagen-figure>
        </div>

        <div class="media-content">
          <div class="content">
            <p class="title is-2">teoría</p>
          </div>
        </div>

        <div class="media-right">
          <app-imagen-figure [medida]="'64'" [imgUrl]="'inicio-general/teoría3.png'"></app-imagen-figure>
        </div>
        
      </article>

      </div>
    </a> 

    
    <br>     



      <div class="columns step5-iniciogeneral">
<!--         mejorar NGFOR -->
        <div class="column is-4">
          <app-temas-inferiores-inicio [colorTema]="'link'" [urlTema]="'/tema-hiragana'" [nombreTema]="'hiragana'"></app-temas-inferiores-inicio>
        </div>

        <div class="column is-4">
          <app-temas-inferiores-inicio [colorTema]="'warning'" [urlTema]="'/tema-katakana'" [nombreTema]="'katakana'"></app-temas-inferiores-inicio>
        </div>

        <div class="column is-4">
          <app-temas-inferiores-inicio [colorTema]="'danger'" [urlTema]="'/tema-kanji'" [nombreTema]="'kanji'"></app-temas-inferiores-inicio>
        </div>
      </div>


  </div>

</div>
</section>

