
<section class="hero is-fullheight has-text-black has-background-black">   
<app-header-principal></app-header-principal>

<div class="hero-body">
	
   
  <div class="column is-8 is-offset-2 has-text-centered">
  
    <a data-tooltip="Tooltip Text" [routerLink]="['/tema-teoria']">
      <div class="box">    



      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
           <img src="{{imagenes}}/teoría2.png">
         </figure>
        </div>
        <div class="media-content">
          <div class="content">
         <p class="title is-1">teoría</p>
          </div>
        </div>
        <div class="media-right">

          <img src="{{imagenes}}/teoría.png" width="75" height="75">

        </div>
      </article>







        
        












      </div>
    </a> 
    <br>     






    <div class="columns">
      <div class="column is-4">
        <a><div class="box">
          <p class="title">hiragana</p>
          <img src="{{imagenes}}/gatovolteado.png" width="70" height="70">
          <p class="subtitle is-5 has-text-link has-text-weight-bold">3%</p>
          <progress class="progress is-link" value="3" max="100"></progress>
        </div></a>
      </div>
      <div class="column is-4">
        <a><div class="box">
          <p class="title">katakana</p>
          <img src="{{imagenes}}/gatovolteado.png" width="70" height="70">
          <p class="subtitle is-5 has-text-warning has-text-weight-bold">3%</p>
          <progress class="progress is-warning" value="3" max="100">3%</progress>
        </div></a>                      
      </div>
      <div class="column is-4">
        <a><div class="box">
          <p class="title">kanji</p>
          <img src="{{imagenes}}/gatovolteado.png" width="70" height="70">
          <p class="subtitle is-5 has-text-danger has-text-weight-bold">3%</p>
          <progress class="progress is-danger" value="3" max="100">3%</progress>
        </div></a>  
      </div>
    </div>
  </div>
  


</div>
</section>
