
<section class="hero is-fullheight has-text-black">   

<app-header-principal></app-header-principal>   

        <div class="hero-body">
        <div class="container has-text-centered">
        
        <div class="columns">
        	
        	<div class="column is-2 is-narrow">
        		


                <div class="tile is-ancestor">
                  <div class="tile is-12 is-vertical is-parent">
                    <a>
                        <div class="tile is-child notification box is-success">
                          app
                        </div>
                    </a>
                    <br>
                    <a>                       
                        <div class="tile is-child notification box is-primary">
                          estadísticas
                        </div> 
                    </a>
                    <br>
                    <a>                       
                      <div class="tile is-child notification box is-warning">
                        cocfigur
                      </div> 
                    </a>
                    <br>
                  <a>                       
                    <div class="tile is-child notification box is-danger">
                      opciones
                    </div> 
                  </a>
                  </div>
                </div>













        	</div>

        	<div class="column is-8">
        		








  
  
  
         
                <a [routerLink]="['/tema-teoria']"><div class="box">                      
                  <p class="title">teoría</p>
                </div></a> 
                <br>     



                <div class="columns">
                  <div class="column is-4">
                    <a><div class="box">
                      <p class="title">hiragana</p>
                    </div></a>
                  </div>
                  <div class="column is-4">
                    <a><div class="box">
                      <p class="title">katakana</p>
                    </div></a>                      
                  </div>
                  <div class="column is-4">
                    <a><div class="box">
                      <p class="title">kanji</p>
                    </div></a>  
                  </div>
              </div>


























        	</div>

        	<div class="column is-2">
        		estadísticas
        	</div>

        </div>


	    </div>
	    </div>
     
</section>
