<!-- HEADER MODULOS -->

<div class="hero-head">
  <section class="hero has-background-white">
  <!--hero head--->
  <div class="hero-head">

  <div class="box">


    <div class="columns">

      <!--column #1: logo--->
      <div class="column is-4">
        <div class="container">
          <!--level--->
          <nav class="level">
          <div class="level-left">

            <!--icon--->
            <div class="level-item">
            <figure class="image is-64x64">
              <img src="{{imagenes}}/catlogo.png">
            </figure>
            </div>
            <!--fin de icon--->

            <!--titulo--->
            <div class="level-item">
            <section class="section">
              <div class="title is-3 is-spaced"><span class="has-text-warning">bake</span><span class="has-text-black">__</span><span class="has-text-link">ai</span></div>
            </section>
            </div>
            <!--fin de titulo--->

          </div>
          </nav>
          <!--fin de level--->
        </div>
      </div>
      <!--fin de column #1: logo--->

      <!--column #2: status bar--->
      <div class="column is-6">
        <p class="has-text-weight-semibold has-text-info">60%</p>
        <progress class="progress is-large is-info" value="60" max="100"></progress>
      </div>
      <!--fin de column #2: status bar--->


      <!--column #3: boton salir--->
      <div class="column is-offset-1">
         <a>
          <div class="has-tooltip-bottom has-tooltip-black has-tooltip-arrow" [attr.data-tooltip]="'salir'">
              <figure class="image is-64x64">
              <img [src]="imagenes2+'/largate.png'">
              </figure>
          </div>
        </a>  
      </div>
      <!--fin de column #3: boton salir--->


    </div>
  </div>
  </div>
  <!--fin hero head--->
  </section>
</div>