<button data-target="modalCard" (click)="abrirCard()" class="button modal-button has-background-light is-outlined is-dark-grey is-rounded">{{ letraKana }}</button>



<div class="modal modal-fx-fadeInScale"  id="modalCard">
<div class="modal-background"></div>
<div class="modal-content is-tiny">


<div class="box">

<section class="section">


<div class="columns">
	<div class="column is-offset-1">
	  <p id="tituloKanaCard" class="has-text-dark" style="font-size: 100px; white-space: nowrap;"></p>
	</div>


	<div class="column">
		
		<br>

		<div class="is-flex has-stuff-centered">
		<a (click)="reproducir()" class="has-tooltip-up has-tooltip-dark has-tooltip-arrow" [attr.data-tooltip]="'pronunciación'">
			<app-imagen-figure [medida]="'48'" [imgUrl]="'inicio-general/audio.png'"></app-imagen-figure>
		</a>
		</div>
	
		<p class="subtitle is-5">romaji:</p>
		<p class="title is-4" id="romajiKanaCard"></p>

	</div>

</div>



		<span class="is-flex has-stuff-centered">
		  <figure *ngIf="tablaTipo != 'compuesta'" class="image is-128x128">
			  <img id="imagenTrazo">
		  </figure>
		  <figure  *ngIf="tablaTipo == 'compuesta'" style="width:80%;" class="image is-256x256">
			  <img id="imagenTrazo">
		  </figure>
		</span>
		<br>



</section>




</div>
</div>

<button (click)="cerrarCard()" class="modal-close is-large" aria-label="close"></button>
</div>








