<section class="hero has-background-danger">
	<div class="hero-body has-stuff-centered">
	<div class="container">

	<section class="section">
	  <h1 class="title is-1">か</h1>
	</section>

   <br>

	<section class="section">
		<div class="columns">
			<div class="column is-one-fifth is-offset-two-fifths">
				

		<div class="field">
		  <div class="control">
		    <input class="input is-dark has-text-weight-bold" type="text" placeholder="respuesta">
		  </div>
		</div>






			</div>
		</div>
	</section>

	<br>

	<section class="section">





        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
            <button class="button is-success">listo</button>
          </div>
          <div class="column is-narrow">
           	<button class="button is-dark">ayuda</button>
          </div>
        </div>





		
		
	</section>

	</div>
	</div>
</section>




