<!-- mejorar el cargado de la fotos COMPONETIZAR -->

<section class="hero is-fullheight has-text-black has-background-light">   
  <app-header-principal [esInicio]="false"></app-header-principal>

<div class="hero-body">
  <section class="section">


  <div class="columns">




	 <div class="column is-4 is-offset-1">
	   <div class="box has-text-centered has-text-weight-medium is-size-4">hiragana <br> ひらがな</div>

      <div class="columns is-gapless">

        <div class="column">
          <a>
            <app-botones-iconos-temas [tituloBoton]="'instrucciones'" [imagenBoton]="'/questionmark.png'" [colorBoton]="'black'"></app-botones-iconos-temas>
          </a>
        </div>

        <div class="column">
          <a [routerLink]="'/examinacion'">
            <app-botones-iconos-temas [tituloBoton]="'¡examinación!'" [imagenBoton]="'/test.png'" [colorBoton]="'link'"></app-botones-iconos-temas>
          </a>
        </div>
        
      </div>

   </div>





  <div class="column">
    <div class="box has-text-centered">

       <div class="block is-fullwidth">

            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button has-background-white is-black is-outlined" aria-haspopup="true" aria-controls="dropdown-menu7">
                  <span><p class="title has-text-black has-text-weight-medium is-4">tabla {{tablaActivada}}</p></span>
                  <span class="icon">
                      <figure class="image is-16x16">
                      <img [src]="imagenes+'/down-arrow.png'">
                      </figure>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu7" role="menu">
                <div class="dropdown-content">
                  <button (click)="activarTabla('pura')" class="dropdown-item button is-link is-outlined">
                      tabla pura
                  </button>
                  <hr class="dropdown-divider">
                  <button (click)="activarTabla('impura')"  class="button is-info is-outlined dropdown-item">
                      tabla impura
                  </button >
                  <hr class="dropdown-divider">
                  <button (click)="activarTabla('compuesta')"  class="button is-warning is-outlined dropdown-item">
                      tabla compuesta
                  </button>
                </div>   
            </div>
          </div>



     
        </div>










      <ng-container [ngSwitch]="tablaActivada">


        <ng-container *ngSwitchCase="'pura'">

          <table class="table">

            <thead>
              <tr>
                <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                <th class="has-text-centered">a</th>
                <th class="has-text-centered">i</th>
                <th class="has-text-centered">u</th>
                <th class="has-text-centered">e</th>
                <th class="has-text-centered">o</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                <th class="has-text-centered">a</th>
                <th class="has-text-centered">i</th>
                <th class="has-text-centered">u</th>
                <th class="has-text-centered">e</th>
                <th class="has-text-centered">o</th>
              </tr>
            </tfoot>



            <tbody>
               <tr *ngFor="let item of hiragana">
                  <th class="has-text-centered">{{item.letra}}</th>
                  <th><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.a }}</button></th>
                  <td><button *ngIf="item.i !== ''" class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.i }}</button></td>
                  <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.u }}</button></td>
                  <td><button *ngIf="item.e !== ''" class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.e}}</button></td>
                  <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.o }}</button></td>
               </tr>
               <tr>
                  <th class="has-text-centered">*</th>
                  <th><button class="button has-background-light is-outlined is-dark-grey is-rounded">わ</button></th>
                  <td></td>
                  <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">ん</button></td>
                  <td></td>
                  <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">を</button></td>
               </tr>
            
            </tbody>
          </table>
        </ng-container>


        <ng-container *ngSwitchCase="'impura'">


            <table class="table">

              <thead>
                <tr>
                  <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                  <th class="has-text-centered">a</th>
                  <th class="has-text-centered">i</th>
                  <th class="has-text-centered">u</th>
                  <th class="has-text-centered">e</th>
                  <th class="has-text-centered">o</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                  <th class="has-text-centered">a</th>
                  <th class="has-text-centered">i</th>
                  <th class="has-text-centered">u</th>
                  <th class="has-text-centered">e</th>
                  <th class="has-text-centered">o</th>
                </tr>
              </tfoot>



              <tbody>

                <tr *ngFor="let item of hiraganaImpura">
                    <th class="has-text-centered">{{item.letra}}</th>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.a }}</button></td>
                    <td><button *ngIf="item.i !== ''" class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.i }}</button></td>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.u }}</button></td>
                    <td><button *ngIf="item.e !== ''" class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.e}}</button></td>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.o }}</button></td>
                 </tr>
              
              </tbody>
          </table>
        </ng-container>


        <ng-container *ngSwitchCase="'compuesta'">


            <table class="table">

              <thead>
                <tr>
                  <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">a</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">u</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">o</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class="has-text-centered">c<span class="has-text-link">/</span>v</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">a</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">u</th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered"></th>
                  <th class="has-text-centered">o</th>
                </tr>
              </tfoot>



              <tbody>

                <tr *ngFor="let item of hiraganaCompuesta">
                    <th class="has-text-centered">{{item.letra}}</th>
                    <td></td>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.a }}</button></td>
                    <td></td>
                    <td></td>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.u }}</button></td>
                    <td></td>
                    <td></td>
                    <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">{{ item.o }}</button></td>
                 </tr>
              
              </tbody>
          </table>
        </ng-container>


      </ng-container>
    </div>
  </div>











</div>


</section>

</div>
</section>
