<!-- mejorar el cargado de la fotos -->


<section class="hero is-fullheight has-text-black has-background-black">   
<app-header-principal [esInicio]="false"></app-header-principal>

<div class="hero-body has-stuff-centered">

<section class="section">


<div class="columns">
	
<div class="column is-3">
	
<div class="box has-text-centered has-text-weight-medium is-size-5 has-text-link">hiragana <br> ひらがな</div>

<button class="button is-info is-light">instrucciones</button>

</div>

<div class="column"></div>




<div class="box">

<table class="table">
  <thead>
    <tr>
      <th>c/v</th>
      <th class="has-text-centered">a</th>
      <th class="has-text-centered">i</th>
      <th class="has-text-centered">u</th>
      <th class="has-text-centered">e</th>
      <th class="has-text-centered">o</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>c/v</th>
      <th class="has-text-centered">a</th>
      <th class="has-text-centered">i</th>
      <th class="has-text-centered">u</th>
      <th class="has-text-centered">e</th>
      <th class="has-text-centered">o</th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th class="has-text-centered">k</th>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">か</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">き</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">く</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">け</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">こ</button></td>
    </tr>
    <tr>
      <th class="has-text-centered">s</th>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">か</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">き</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">く</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">け</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">こ</button></td>
    </tr>
    <tr>
      <th class="has-text-centered">t</th>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">か</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">き</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">く</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">け</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">こ</button></td>
    </tr>
    <tr>
      <th class="has-text-centered">n</th>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">か</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">き</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">く</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">け</button></td>
      <td><button class="button has-background-light is-outlined is-dark-grey is-rounded">こ</button></td>
    </tr>


  </tbody>
</table>


</div>




















</div>








</section>










</div>

</section>
