    <!-- mejorar-->

<section class="hero is-fullheight is-success has-text-centered">

<div class="modal"  id="myModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">¿estás segura de tus elecciones?</p>
    </header>
    <section class="modal-card-body">

      <p class="subtitle is-5">no te preocupes, podrás cambiarlas dentro de la aplicación</p>

        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
           
           <button [ngxScrollTo]="'slidesection4'" (click)="proceder()" class="button is-success">sí, proceder</button>
          </div>
          <div class="column is-narrow">
            <button class="button" (click)="volver()">no, volver</button>
          </div>
        </div>

    </section>
  </div>
</div>


<div class="hero-body">


  <div class="columns is-multiline is-mobile">
    <div class="column is-12">
    <h1 class="title">sobre ti</h1>
    <p class="subtitle">información que será utilizada para brindar un ambiente de estudio con mayor personalización:</p> 
  </div>
 
<div class="column is-12">

<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">




    <div class="tile">

      <div class="tile is-4">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box is-info">
              <h1 class="title">usuario</h1>
              <p class="subtitle">ingresa un usuario y a través de este te haremos referencia dentro de <strong>bake ai:</strong></p> 

              <div class="control has-icons-left has-icons-right">
              <div class="form-group">
                <input id="inputThirdSlide" [disabled]="isInputThirdSlideDisabled" [(ngModel)]="nombrecito" class="input is-medium is-success" type="text" placeholder="nombre">
              </div>
              <span class="icon is-medium is-left">                        
                <figure class="image is-24x24">
                  <img src="{{imagenes}}/avatar-gris.png">
                </figure>
              </span>
              </div> 
              <span class="tag">(!) para continuar, debes llenar este cuadro.</span>
            </article>
          </div>

        </div>

      </div>

      <div class="tile is-8">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <h1 class="title">gustos</h1>
              <p class="subtitle">elige un (1) tema que sea de gusto para impartir lecciones con vocabulario relacionado:</p>  

              <app-gustos-picker [accesoGusto]="!isInputThirdSlideDisabled"></app-gustos-picker>

            <span class="tag">(!) haz click sobre el tema de tu gusto.</span>
            </article>
          </div>

        </div>

      </div>



    </div>










    <div class="tile">
      <div class="tile is-12 is-parent">
        <article class="tile is-child is-success">

          <div class="container has-text-centered">



        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
           
            <button [ngxScrollTo]="'slidesection2'" class="button is-rounded is-warning">
           <span class="icon">↑</span>
           <span>anterior</span>
           </button>
          

          </div>
          <div class="column is-narrow">
           
            <button (click)="activar()" [disabled]="!nombrecito" class="button is-primary is-rounded">
            <span>siguiente</span>
            <span class="icon">↓</span>
            </button>
            
          </div>
        </div>


           


            
          </div>

        </article>
      </div>
    </div>



  </div>

</div>


</div>





 </div>













</div>
</section>