<section class="hero has-background-warning" style="height: 315px;">
	<div class="hero-body has-stuff-centered">
	<div class="container">

	<section class="section">
		<h1 class="title is-5">escribe los romaji correspondientes a los silabarios:</h1>


		<div class="block">
			<div class="columns" >
				<div class="column" *ngFor="let item of dataOro[0]; let i = index">

					<div class="field step2-modulo-oro">
					  <div class="control">
					    <input [attr.disabled]="respuestaTraducida? true: null" maxlength="3" [(ngModel)]="respuestas[i]" class="input is-dark" type="text" placeholder="{{item}}">
					  </div>
					</div>

					<h1 class="title is-2 has-text-weight-bold step1-modulo-oro">{{item}}</h1>			
				</div>		
			</div>
		</div>

		<section class="section has-stuff-centered is-flex">
			<div class="field is-grouped">
			  <p class="control step3-modulo-oro">
			    <button [disabled]="isEmptyStringArray()" (click)="oroRespuesta()" class="button is-success">✔ listo</button>
			  </p>
			  <p class="control">
			    <button (click)="shepherdPasosService.activarAyuda('oro')" class="button is-dark">ayuda</button>
			  </p>
			</div>
		</section>

	</section>


	</div>
	</div>
</section>


<div class="modal modal-fx-fadeInScale"  id="oroResponde">
<div class="modal-background"></div>
<div class="modal-content is-tiny">


<section class="section has-stuff-centered is-flex">
	<app-imagen-figure [medida]="'128'" [imgUrl]="'modulos/vamos.gif'"></app-imagen-figure>
</section>

<div class="box">

<div class="columns">
	<div class="column" *ngIf="acertadoBien.length > 0">
		<h1 class="title is-5 has-text-weight-bold has-text-success">¡CORRECTO!</h1>
		<span *ngFor="let item of acertadoBien" class="title is-5"> {{item.respuesta}} = {{item.kana}} <br></span>
	</div>

	<div [ngClass]="'column'" *ngIf="acertadoMal.length > 0">
		<h1 class="title is-5 has-text-weight-bold has-text-primary">¡INCORRECTO!</h1>
		<span *ngFor="let item of acertadoMal" class="title is-5"> {{item.correcta}} = {{item.kana}} <span class="title is-7">(respondiste: {{item.respuesta}})</span> <br></span>
	</div>
</div>

	<br>
    <button (click)="avanzarModulo()" class="button is-warning has-background-warning">siguiente →</button>

</div>


</div>
<button onclick="modalFunction(2, '#oroResponde')" class="modal-close is-large" aria-label="close"></button>
</div>



