<section class="hero is-fullheight has-background-light has-text-black">   
  <app-header-principal [esInicio]="false"></app-header-principal>  
  <div class="hero-body">

    <!--panel-->
    <article class="panel has-background-white is-primary" id="panelitself">
      <p class="panel-heading has-text-white is-size-4">teoría</p>
      <!--tabs del panel-->
      <p class="panel-tabs">
        <!--tab 1-->
        <a class=" has-background-primary"><app-tabs-teoria [tabNombre]="'id_tab_1'" id="primary" [classResto]="'black'" [texto]="'general'"></app-tabs-teoria></a>
        <!--tab 2-->
      	<a><app-tabs-teoria id="warning" [tabNombre]="'id_tab_2'" [classResto]="'warning'" [texto]="'hiragana'"></app-tabs-teoria></a>
        <!--tab 3-->
      	<a><app-tabs-teoria id="success" [tabNombre]="'id_tab_3'" [classResto]="'success'" [texto]="'katakana'"></app-tabs-teoria></a>
        <!--tab 4-->
      	<a><app-tabs-teoria id="info" [tabNombre]="'id_tab_4'" [classResto]="'info'" [texto]="'kanji'"></app-tabs-teoria></a>
        <!--tab 5-->
      	<a><app-tabs-teoria id="link" [tabNombre]="'id_tab_5'" [classResto]="'link'" [texto]="'otros'"></app-tabs-teoria></a>
      </p>
      <!--fin de tabs del panel-->



      <!--menú del panel-->
      <div class="container section">
          <div id="id_tab_1" class="content-tab">
            <app-tabs-teoria-content [colorContenido]="'primary'" [seccionContenido]="'general'" [Contenido]="['historia', 'kanas']"></app-tabs-teoria-content>
          </div>

          <div id="id_tab_2" class="content-tab" style="display:none">
            <app-tabs-teoria-content [colorContenido]="'warning'" [seccionContenido]="'hiragana'" [Contenido]="['trazos', 'lectura']"></app-tabs-teoria-content>
          </div>

          <div id="id_tab_3" class="content-tab" style="display:none">
            <app-tabs-teoria-content [colorContenido]="'success'" [seccionContenido]="'katakana'" [Contenido]="['trazos', 'lectura']"></app-tabs-teoria-content>
          </div>

          <div id="id_tab_4" class="content-tab" style="display:none">
            <app-tabs-teoria-content [colorContenido]="'info'" [seccionContenido]="'kanji'" [Contenido]="['trazos', 'lecturas kunyomi', 'lecturas onyomi']"></app-tabs-teoria-content>
          </div>

          <div id="id_tab_5" class="content-tab" style="display:none">
            <app-tabs-teoria-content [colorContenido]="'link'" [seccionContenido]="'otros'" [Contenido]="['notas']"></app-tabs-teoria-content>
          </div>  
      </div>
      <!--fin del menú del panel-->
    </article>
<!--fin del panel-->



<!--card-->
    <div class="card">
      <header class="card-header has-background-primary" id="cardHeader">
        <div class="card-header-icon" aria-label="more options">
          <span class="icon">
            <img src="{{imagenes}}/text.png">
          </span>
        </div>
        <p class="card-header-title">{{tituloTema}}</p>
      </header>
      <div class="card-content">
        <div class="content">
          {{temaContenido}}
          <a href="#">er tema apunta a otro quizaj</a>.
        </div>
      </div>
      <footer class="card-footer">
        <a (click)="setAprendido(!temaAprendido)" [ngClass]=" (temaAprendido)?'card-footer-item has-background-primary has-text-black is-size-7':'card-footer-item is-size-7 has-background-success has-text-black' ">
          <p *ngIf="!temaAprendido">marcar como aprendido</p>
          <p *ngIf="temaAprendido">marcar como no aprendido</p>
        </a>

        <!-- mejorar -->
        <div *ngIf="!temaAprendido" class="card-footer-item has-text-primary">
          <span><figure class="image is-16x16"><img src="{{imagenes}}/rojo.png"></figure></span>por aprender</div>
        <div *ngIf="temaAprendido" class="card-footer-item has-text-success">
          <span><figure class="image is-16x16"><img src="{{imagenes}}/verde.png"></figure></span>aprendido</div>
      </footer>
    </div>
<!--fin de card-->




 </div> 
</section>
