<section class="hero is-fullheight has-text-black">   
  <app-header-principal></app-header-principal>  
  <div class="hero-body">

    <!--panel-->
    <article class="panel is-primary" id="panelitself">
      <p class="panel-heading">teoría</p>
      <!--tabs del panel-->
      <p class="panel-tabs">
        <!--tab 1-->
        <a class=" has-background-primary"><app-tabsteoria [tabNombre]="'id_tab_1'" id="primary" [classResto]="'black'" [texto]="'general'"></app-tabsteoria></a>
        <!--tab 2-->
      	<a><app-tabsteoria id="warning" [tabNombre]="'id_tab_2'" [classResto]="'warning'" [texto]="'hiragana'"></app-tabsteoria></a>
        <!--tab 3-->
      	<a><app-tabsteoria id="success" [tabNombre]="'id_tab_3'" [classResto]="'success'" [texto]="'katakana'"></app-tabsteoria></a>
        <!--tab 4-->
      	<a><app-tabsteoria id="info" [tabNombre]="'id_tab_4'" [classResto]="'info'" [texto]="'kanji'"></app-tabsteoria></a>
        <!--tab 5-->
      	<a><app-tabsteoria id="link" [tabNombre]="'id_tab_5'" [classResto]="'link'" [texto]="'otros'"></app-tabsteoria></a>
      </p>
      <!--fin de tabs del panel-->



      <!--menú del panel-->


          <div class="container section">
              <div id="id_tab_1" class="content-tab">
           
                      <a class="panel-block is-active has-background-light">
                        <span class="panel-icon">
                          <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        historia
                      </a>
                      <a class="panel-block">
                        <span class="panel-icon">
                          <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        división
                      </a>
                 
              </div>
              <div id="id_tab_2" class="content-tab" style="display:none">
                  <div>
                    <a class="panel-block is-active">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      bulma2
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      marksheet
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      minireset.css
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      jgthms.github.io
                    </a>
                  </div>
              </div>
              <div id="id_tab_3" class="content-tab" style="display:none">
                  <div>
                    <a class="panel-block is-active">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      bulma3
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      marksheet
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      minireset.css
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      jgthms.github.io
                    </a>
                  </div>
              </div>
              <div id="id_tab_4" class="content-tab" style="display:none">
                  <div>
                    <a class="panel-block is-active">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      bulma4
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      marksheet
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      minireset.css
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      jgthms.github.io
                    </a>
                  </div>
              </div>
              <div id="id_tab_5" class="content-tab" style="display:none">
                  <div>
                    <a class="panel-block is-active">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      bulma5
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      marksheet
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      minireset.css
                    </a>
                    <a class="panel-block">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      jgthms.github.io
                    </a>
                  </div>
              </div>                            
          </div>








      <!--fin del menú del panel-->



    </article>
<!--fin del panel-->




















<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Component
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>





 </div> 
</section>
