<app-temas-modulos-titulos [temaTitulo]="'tablas'"></app-temas-modulos-titulos> 

<app-temas-modulos-subtitulos [colorFondo]="'link'" [textoSubtitulo]="'los tipos de tablas'"></app-temas-modulos-subtitulos>

<div class="columns is-gapless is-narrow is-multiline">
  <div class="column is-12">      
    <div class="notification has-text-justified is-link is-light">
      puedes acceder al resto de las tablas colocando el ratón encima del título <span class="has-text-weight-bold">TABLA PURA</span> y dando click a una de las tres opciones apareciendo debajo.
    </div>
  </div>
  <div class="column is-6"><app-imagen-foto [medida]="'2by1'" [imgUrl]="'modulos/tabla01.png'"></app-imagen-foto></div>
  <div class="column is-6"><app-imagen-foto [medida]="'2by1'" [imgUrl]="'modulos/tabla02.png'"></app-imagen-foto></div>
</div>

<app-temas-modulos-subtitulos [colorFondo]="'link'" [textoSubtitulo]="'los silabarios'"></app-temas-modulos-subtitulos>


<div class="columns is-multiline has-text-centered has-stuff-centered is-flex">

  <div class="column is-12">      
    <div class="notification has-text-justified is-link is-light">
      dando click a los silabarios dentro de las tablas se abrirá una versión agrandada del <span class="has-text-weight-bold">kana</span> junto a su <span class="has-text-weight-bold">romaji</span>, su <span class="has-text-weight-bold">audio</span> (dando click al icono de la bocina se reproducirá) y su <span class="has-text-weight-bold">orden de trazado</span>.
    </div>
  </div>
  <div class="column is-5">
    <app-imagen-foto [medida]="'3by1'" [imgUrl]="'modulos/tabla03.png'"></app-imagen-foto>
  </div>

</div>




