<section class="hero has-background-warning-dark">
	<div class="hero-body has-stuff-centered">
	<div class="container">




	<div class="block">
		<div class="columns">
			<div class="column"><h1 class="title is-1">き</h1></div>
			<div class="column"><h1 class="title is-1">か</h1></div>
			<div class="column"><h1 class="title is-1">け</h1></div>
			<div class="column"><h1 class="title is-1">く</h1></div>
			<div class="column"><h1 class="title is-1">こ</h1></div>							
		</div>

	</div>

   <br>

	<section class="section">

	</section>

	<br>

	<section class="section">





      
           	<button class="button is-dark">ayuda</button>
      





		
		
	</section>














	</div>
	</div>
</section>