<section class="hero has-background-warning-dark">
	<div class="hero-body has-stuff-centered">
	<div class="container">




	<div class="block">
		<div class="columns">
			<div class="column"><h1 class="title is-1">き</h1></div>
			<div class="column"><h1 class="title is-1">か</h1></div>
			<div class="column"><h1 class="title is-1">け</h1></div>
			<div class="column"><h1 class="title is-1">く</h1></div>
			<div class="column"><h1 class="title is-1">こ</h1></div>							
		</div>

	</div>

   <br>

	<section class="section">
		<div class="columns">
			<div class="column is-one-fifth is-offset-two-fifths">
				

		<div class="field">
		  <div class="control">
		    <input class="input is-dark" type="text" placeholder="respuesta">
		  </div>
		</div>






			</div>
		</div>
	</section>

	<br>

	<section class="section">





        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
            <button class="button is-success-light">listo</button>
          </div>
          <div class="column is-narrow">
           	<button class="button is-dark">ayuda</button>
          </div>
        </div>





		
		
	</section>














	</div>
	</div>
</section>