/* You can add global styles to this file, and also import other style files */

.has-stuff-centered{
	justify-content: center;
}

.has-no-scroll{
	overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  lightblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}

.progress::-webkit-progress-value {
  transition: width 0.5s ease;
}

/*
::after{
	opacity: 0;
}

.shepherd-active::after{
	content: "";
	display: block;
	background-color: #000;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000000;
}

.shepherd-element.shepherd-open, .shepherd-target.shepherd-enabled{
	z-index: 10000000;
	position: relative;
}*/