<section class="hero has-background-warning-dark">
	<div class="hero-body has-stuff-centered">
	<div class="container">



	<section class="section">
	  <h1 class="title is-5 has-text-light">¿cuál es el correcto hiragana para este romaji?</h1>
	  <h1 class="subtitle is-2 has-text-light has-text-weight-bold">akarui</h1>
	</section>

   <br>

	<section class="section">

				
	<div class="columns is-mobile is-centered">

        <div class="column is-narrow">
         <button class="button is-medium">あくたい</button>
        </div>

        <div class="column is-narrow">
        <button class="button is-medium">らくがき</button>
        </div>

        <div class="column is-narrow">
        <button class="button is-medium">あかるい</button>
        </div>

        <div class="column is-narrow">
        <button class="button is-medium">きいろか</button>
        </div>

   	</div>

				






	</section>

	<br>

	<section class="section">





        <div class="columns is-mobile is-centered">
          <div class="column is-narrow">
            <button class="button is-success">listo</button>
          </div>
          <div class="column is-narrow">
           	<button class="button is-dark">ayuda</button>
          </div>
        </div>





		
		
	</section>







	</div>
	</div>
</section>